
.row{
    height: 100vh;
    margin-left: 0px;
    margin-right: 0px;
}


/* ----------column-left------------ */
.column-left{
    padding-left: 0px;
    padding-right: 0px;
    color: #d7d7d7
}

.column-left-header{
    margin-top: 35px;
    text-align: center;
    
}


.column-left h5{
    text-align: center;
    margin-top: 35px;
}

.btn-chat{
    background-color: #0f3460;
    border: none;
    font-size: 130%;
    width: 100%;
    text-align: left;
}

.visitor-avatar{
    margin-left: 10px;
    margin-right: 8px;
}


/* -----------column-right------------- */
.column-right{
    
    background-color: #d0d0d0;
    text-align: center;
    padding-top: 18%;
    
}

.column-right i{
    margin-bottom: 15px;
}

#logout-link{
    position: absolute;
    top:0;
    right: 8px;
}

/* -------------------modal-------------------- */

.chat-modal{
    height: 600px;   
}

.modal-content{
    border-radius: 8px !important
}

.modal-title{
    font-size: 28px
}
.modal-header,
.modal-footer{
    background-color: #0f3460;
    color: #d0d0d0;
    height: 12%
}

#send-container{
   width: 100%;
}

#send-container input{
    width: 94%;
    padding: 5px;
    margin-right: 5px
 }

 #send-container button{
    padding: 5px;
    width: 5%;
    color: #0f3460;
    background-color: #d0d0d0
 }

 .close{
     color: #d7d7d7
 }

 #message-container-right{
    color: blue;
    text-align:right;
    font-size: 23px;
    margin-bottom: 10px;
}

.message-span-right{
    border: 1px solid black;
    padding: 8px;
    border-radius: 20px 5px 20px 20px;
    margin-right: 10px;
    background-color: #d7d7d7;
    color: #3a3a3a;
}

.chatname-right{
    position: absolute;
    font-size: 10px;
    color: #0f3360c6;
    margin-left: 8px
}

#message-container-left{
    font-size: 23px;
    margin-bottom: 5px;
}

.message-span-left{
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px 20px 20px;
    margin-left: 10px;
    background-color: #0f3460;
    color: #d7d7d7;
    
}

.chat-avatar{
    font-size: 50px;
    color: #0f3460
}

.chatname-left{
    position: absolute;
    font-size: 10px;
    margin-left: 10px;
    color: #0f3360c6;
}

