#message-container-right{
    color: blue
}

#message-container-left{
    color: red
}


.row{
    height: 100vh;
    margin-left: 0px;
    margin-right: 0px;
}


/* ----------column-left------------ */
.column-left{
    padding-left: 0px;
    padding-right: 0px;
    color: #d7d7d7
}

.column-left-header{
    margin-top: 35px;
    text-align: center;
    
}

.chat-name{
    margin-top: 15px;
}

.column-left h5{
    text-align: center;
    margin-top: 35px;
}

.btn-chat{
    background-color: #0f3460;
    border: none;
    font-size: 130%;
    width: 100%;
    text-align: left;
}

.visitor-avatar{
    margin-left: 10px;
    margin-right: 8px;
}


/* -----------column-right------------- */
.column-right{
    
    background-color: #d0d0d0;
    text-align: center;
    padding-top: 18%;
    
}

.column-right i{
    margin-bottom: 15px;
}


