.signin-section{
    text-align: center;
    margin-top: 18%;
    
}

.logo{
    font-size: 450%;
    color: #d7d7d7
}

body{
    background-color: #07689f
}

.name-input{
    margin-top: 25px;
   
}

.nav-link{
    padding: 1px;
    color: #07689f
}

.start-chatting-btn{
    border-radius: 6px;
    margin-top: 15px;
}

.name-input input{
    width: 15%;
    border-radius: 5px;
    padding: 4px;
}